<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pakigsabot">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PakigsaBot">
        <activity
            android:name=".HelpCenter.HelpCenter"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.SeeAllTiers4"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.SeeAllTiers3"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.SeeAllTiers2"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.SeeAllTiers"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.LTInfo"
            android:exported="false" />
        <activity
            android:name=".PremiumApp.PayPremium"
            android:exported="false" />
        <activity
            android:name=".PremiumApp.SubscriptionTerms"
            android:exported="false" />
        <activity
            android:name=".Profile.ChangePass"
            android:exported="false" />
        <activity
            android:name=".Resto.ConfirmAndPayResto"
            android:exported="false" />
        <activity
            android:name=".Resto.RestoReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".Resto.RestoReservationDetails"
            android:exported="false" />
        <activity
            android:name=".Resto.RestaurantReservation"
            android:exported="false" />
        <activity
            android:name=".Resto.RestaurantPreOrder"
            android:exported="false" />
        <activity
            android:name=".Resto.RestoMenu"
            android:exported="false" />
        <activity
            android:name=".Resto.RestoDetailsRCalendar"
            android:exported="false" />
        <activity
            android:name=".Resto.RestoConfirmationDetails"
            android:exported="false" />
        <activity
            android:name=".Resto.Resto_CheckIn"
            android:exported="false" />
        <activity
            android:name=".NotificationAlerts.EstCancelled"
            android:exported="false" />
        <activity
            android:name=".NotificationAlerts.EstConfirmed"
            android:exported="false" />
        <activity
            android:name=".CancelReservation.CancellationNotAllowed"
            android:exported="false" />
        <activity
            android:name=".PremiumApp.UpgradeScreen"
            android:exported="false" />
        <activity
            android:name=".PremiumApp.GoPremiumCA"
            android:exported="false" />
        <activity
            android:name=".HelpCenter.HelpCenter7"
            android:exported="false" />
        <activity
            android:name=".SignUpRequirements.AgreementScreen"
            android:exported="false" />
        <activity
            android:name=".EmailMessage.EmailMessageLayout"
            android:exported="false" />
        <activity
            android:name=".ShareApp.ShareAppToTwitter"
            android:exported="false" />
        <activity
            android:name=".ShareApp.ShareAppToInsta"
            android:exported="false" />
        <activity
            android:name=".ShareApp.ShareAppToFB"
            android:exported="false" />
        <activity
            android:name=".HelpCenter.HelpCenter6"
            android:exported="false" />
        <activity
            android:name=".HelpCenter.HelpCenter5"
            android:exported="false" />
        <activity
            android:name=".HelpCenter.HelpCenter4"
            android:exported="false" />
        <activity
            android:name=".HelpCenter.HelpCenter3"
            android:exported="false" />
        <activity
            android:name=".HelpCenter.HelpCenter2"
            android:exported="false" />
        <activity
            android:name=".CancelReservation.CancelReservationSuccessful"
            android:exported="false" />
        <activity
            android:name=".CancelReservation.CancelReservation3"
            android:exported="false" />
        <activity
            android:name=".CancelReservation.CancelReservation2"
            android:exported="false" />
        <activity
            android:name=".CancelReservation.CancelReservation1"
            android:exported="false" />
        <activity
            android:name=".InternetCafe.InternetCafeReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".InternetCafe.InternetCafeConfirmAndPay"
            android:exported="false" />
        <activity
            android:name=".InternetCafe.InternetCafeCDetails"
            android:exported="false" />
        <activity
            android:name=".InternetCafe.InternetCafeRDetails"
            android:exported="false" />
        <activity
            android:name=".InternetCafe.InternetCafeSelectTime"
            android:exported="false" />
        <activity
            android:name=".InternetCafe.InternetCafeDetailsRCalendar"
            android:exported="false" />
        <activity
            android:name=".InternetCafe.InternetCafeReservation"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SpaSalonReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SpaSalonConfirmationDetails"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SpaSalonConfirmAndPay"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SpaSalonReservationDetails"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SpaSalonSelectTime"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SpaSalonDetailsRCalendar"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SpaSalonReservation"
            android:exported="false" />
        <activity
            android:name=".DentalClinics.DentalClinicReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".DentalClinics.ConfirmandPayDC"
            android:exported="false" />
        <activity
            android:name=".DentalClinics.DentalCConfirmationDetails"
            android:exported="false" />
        <activity
            android:name=".DentalClinics.DentalCReservationDetails"
            android:exported="false" />
        <activity
            android:name=".DentalClinics.CheckInTimeReserveDC"
            android:exported="false" />
        <activity
            android:name=".DentalClinics.DentalDetailsRCalendar"
            android:exported="false" />
        <activity
            android:name=".DentalClinics.DentalClinicReservation"
            android:exported="false" />
        <activity
            android:name=".Resorts.ResortReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".Resorts.ConfirmandPay"
            android:exported="false" />
        <activity
            android:name=".Resorts.ResortConfirmationDetails"
            android:exported="false" />
        <activity
            android:name=".Resorts.ResortReservationDetails"
            android:exported="false" />
        <activity
            android:name=".Resorts.ResortSpecificDetails"
            android:exported="false" />
        <activity
            android:name=".Resorts.CheckInTimeReserve2"
            android:exported="false" />
        <activity
            android:name=".Resorts.ResortDetailsRCalendar"
            android:exported="false" />
        <activity
            android:name=".Resorts.ResortReservation"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD4KfDcLVjVPatpIKtrPXot024Z4UHVZQ8" />

        <activity
            android:name=".Location.CurrentLocation"
            android:exported="false" />
        <activity
            android:name=".Feedback.Rate"
            android:exported="false" />
        <activity
            android:name=".Feedback.Feedback"
            android:exported="false" />
        <activity
            android:name=".Favorites.ServicesFavorites"
            android:exported="false" />
        <activity
            android:name=".ShareApp.Share"
            android:exported="false" />
        <activity
            android:name=".Profile.Profile"
            android:exported="false" />
        <activity
            android:name=".NavBar.BottomNavigation"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="true" />
        <activity
            android:name=".Signin"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>