<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pakigsabot">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icnew_launchersquare"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icnew_launchercircle"
        android:supportsRtl="true"
        android:theme="@style/Theme.PakigsaBot"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".RestaurantAndCafe.RestoSeatingCapac"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.MostReservedResto"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.TopRatedResto"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.CategoryResto"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.NearbyResto"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.FilterAct"
            android:exported="false" />
        <activity
            android:name=".InternetCafe.ICReserveService"
            android:exported="false" />
        <activity
            android:name=".InternetCafe.InternetCafeDetails"
            android:exported="false" />
        <activity
            android:name=".InternetCafe.ICEstList"
            android:exported="false" />
        <activity
            android:name=".DentalAndEyeClinics.EyeClinicReservation"
            android:exported="false" />
        <activity
            android:name=".DentalAndEyeClinics.EyeClinicReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".DentalAndEyeClinics.EyeClinicSelectedProcedures"
            android:exported="false" />
        <activity
            android:name=".DentalAndEyeClinics.DentalAndEyeClinicEstList"
            android:exported="false" />
        <activity
            android:name=".DentalAndEyeClinics.DentalClinicReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SalonReserveService"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SalonReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SalonDetails"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SpaDetails"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.ChooseEstType"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SalonEstList"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SpaEstList"
            android:exported="false" />
        <activity
            android:name=".Resorts.EstCancellationPolicy"
            android:exported="false" />
        <activity
            android:name=".Resorts.EstRules"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.CafeReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.CafeDetails"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.CafeEstList"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.ChooseEstType"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.CafeReserveDetails"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.RestoReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.RestoReserveDetails"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.RestoDetails"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.RestaurantEstList"
            android:exported="false" />
        <activity
            android:name=".PremiumApp.PremiumPrivileges"
            android:exported="false" />
        <activity
            android:name=".Feedbacks.EstFeedback"
            android:exported="false" />
        <activity
            android:name=".EmailMessage.EstReservationSuccess.EmailEst"
            android:exported="false" />
        <activity
            android:name=".EmailMessage.EstReservationList.EmailEst"
            android:exported="false" />
        <activity
            android:name=".Resorts.ResortRoomReservDetails"
            android:exported="false" />
        <activity
            android:name=".Reservations.ReservationsHistory"
            android:exported="false" />
        <activity
            android:name=".Reservations.ViewReservations"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.LTInfoPlatinum"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.LTInfoGold"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.LTInfoSilver"
            android:exported="false" />
        <activity
            android:name=".HelpCenter.HelpCenter"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.SeeAllTiers4"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.SeeAllTiers3"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.SeeAllTiers2"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.SeeAllTiers"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.LTInfo"
            android:exported="false" />
        <activity
            android:name=".PremiumApp.SubscriptionTerms"
            android:exported="false" />
        <activity
            android:name=".Profile.ChangePass"
            android:exported="false" />
        <activity
            android:name=".PremiumApp.UpgradeScreen"
            android:exported="false" />
        <activity
            android:name=".PremiumApp.GoPremiumCA"
            android:exported="false" />
        <activity
            android:name=".SignUpRequirements.AgreementScreen"
            android:exported="false" />
        <activity
            android:name=".EmailMessage.EmailMessageLayout"
            android:exported="false" />
        <activity
            android:name=".Favorites.LoadFavorites"
            android:exported="false" />
        <activity
            android:name=".DentalAndEyeClinics.DentalClinicSelectedProcedures"
            android:exported="false" />
        <activity
            android:name=".DentalAndEyeClinics.DentalClinicReservation"
            android:exported="false" />
        <activity
            android:name=".Resorts.ResortReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".Resorts.ResortDetails"
            android:exported="false" />
        <activity
            android:name=".Resorts.ResortReservation"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD4KfDcLVjVPatpIKtrPXot024Z4UHVZQ8" />

        <activity
            android:name=".Location.CurrentLocation"
            android:exported="false" />
        <activity
            android:name=".ShareApp.Share"
            android:exported="false" />
        <activity
            android:name=".Profile.Profile"
            android:exported="false" />
        <activity
            android:name=".NavBar.BottomNavigation"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="true" />
        <activity
            android:name=".Signin"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>