<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pakigsabot" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icnew_launchersquare"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icnew_launchercircle"
        android:supportsRtl="true"
        android:theme="@style/Theme.PakigsaBot"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".MainActivityBO"
            android:exported="false" />
        <activity
            android:name=".MainActivityCustomer"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.RestoSeatingCapac"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.MostReservedResto"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.TopRatedResto"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.CategoryResto"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.NearbyResto"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.FilterAct"
            android:exported="false" />
        <activity
            android:name=".InternetCafe.ICReserveService"
            android:exported="false" />
        <activity
            android:name=".InternetCafe.InternetCafeDetails"
            android:exported="false" />
        <activity
            android:name=".InternetCafe.ICEstList"
            android:exported="false" />
        <activity
            android:name=".DentalAndEyeClinics.EyeClinicReservation"
            android:exported="false" />
        <activity
            android:name=".DentalAndEyeClinics.EyeClinicReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".DentalAndEyeClinics.EyeClinicSelectedProcedures"
            android:exported="false" />
        <activity
            android:name=".DentalAndEyeClinics.DentalAndEyeClinicEstList"
            android:exported="false" />
        <activity
            android:name=".DentalAndEyeClinics.DentalClinicReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SalonReserveService"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SalonReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SalonDetails"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SpaDetails"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.ChooseEstType"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SalonEstList"
            android:exported="false" />
        <activity
            android:name=".SpaSalon.SpaEstList"
            android:exported="false" />
        <activity
            android:name=".Resorts.EstCancellationPolicy"
            android:exported="false" />
        <activity
            android:name=".Resorts.EstRules"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.CafeReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.CafeDetails"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.CafeEstList"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.ChooseEstType"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.CafeReserveDetails"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.RestoReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.RestoReserveDetails"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.RestoDetails"
            android:exported="false" />
        <activity
            android:name=".RestaurantAndCafe.RestaurantEstList"
            android:exported="false" />
        <activity
            android:name=".PremiumApp.PremiumPrivileges"
            android:exported="false" />
        <activity
            android:name=".Feedbacks.EstFeedback"
            android:exported="false" />
        <activity
            android:name=".EmailMessage.EstReservationSuccess.EmailEst"
            android:exported="false" />
        <activity
            android:name=".EmailMessage.EstReservationList.EmailEst"
            android:exported="false" />
        <activity
            android:name=".Resorts.ResortRoomReservDetails"
            android:exported="false" />
        <activity
            android:name=".Reservations.ReservationsHistory"
            android:exported="false" />
        <activity
            android:name=".Reservations.ViewReservations"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.LTInfoPlatinum"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.LTInfoGold"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.LTInfoSilver"
            android:exported="false" />
        <activity
            android:name=".HelpCenter.HelpCenter"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.SeeAllTiers4"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.SeeAllTiers3"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.SeeAllTiers2"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.SeeAllTiers"
            android:exported="false" />
        <activity
            android:name=".LoyaltyTier.LTInfo"
            android:exported="false" />
        <activity
            android:name=".PremiumApp.SubscriptionTerms"
            android:exported="false" />
        <activity
            android:name=".Profile.ChangePass"
            android:exported="false" />
        <activity
            android:name=".PremiumApp.UpgradeScreen"
            android:exported="false" />
        <activity
            android:name=".PremiumApp.GoPremiumCA"
            android:exported="false" />
        <activity
            android:name=".SignUpRequirements.AgreementScreen"
            android:exported="false" />
        <activity
            android:name=".EmailMessage.EmailMessageLayout"
            android:exported="false" />
        <activity
            android:name=".Favorites.LoadFavorites"
            android:exported="false" />
        <activity
            android:name=".DentalAndEyeClinics.DentalClinicSelectedProcedures"
            android:exported="false" />
        <activity
            android:name=".DentalAndEyeClinics.DentalClinicReservation"
            android:exported="false" />
        <activity
            android:name=".Resorts.ResortReservationSuccess"
            android:exported="false" />
        <activity
            android:name=".Resorts.ResortDetails"
            android:exported="false" />
        <activity
            android:name=".Resorts.ResortReservation"
            android:exported="false" />

        <activity
            android:name=".Location.CurrentLocation"
            android:exported="false" />
        <activity
            android:name=".ShareApp.Share"
            android:exported="false" />
        <activity
            android:name=".Profile.Profile"
            android:exported="false" />
        <activity
            android:name=".NavBar.BottomNavigation"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Signin"
            android:exported="false" />

        <activity
            android:name=".EstCancellationPolicyBO.AddRestoCancelPol"
            android:exported="false" />
        <activity
            android:name=".PremiumAppBO.SubscriptionTerms"
            android:exported="false" />
        <activity
            android:name=".FeedbackBO.ViewFeedbackResto"
            android:exported="false" />
        <activity
            android:name=".FeedbackBO.LoadFeedback"
            android:exported="false" />
        <activity
            android:name=".RestaurantBO.InEstLocationOrNot"
            android:exported="false" />
        <activity
            android:name=".ServicesBO.InputLocation"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCejVpxRW-Wz2OWUn6_ZhVIzoMQjycT1Sk" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".RestaurantBO.PlotLocationResto"
            android:exported="false" />
        <activity
            android:name=".ReservationHistoryBO.ViewReservationHistoryRestaurant"
            android:exported="false" />
        <activity
            android:name=".ReservationHistoryBO.ViewReservationHistoryResort"
            android:exported="false" />
        <activity
            android:name=".EstablishmentRulesBO.DentalClinic.EstRulesDentalClinic"
            android:exported="false" />
        <activity
            android:name=".EstablishmentRulesBO.DentalClinic.AddEstRulesDentalClinic"
            android:exported="false" />
        <activity
            android:name=".ReservationsBO.ViewReservationsSpa"
            android:exported="false" />
        <activity
            android:name=".ReservationsBO.ViewReservationsResto"
            android:exported="false" />
        <activity
            android:name=".ReservationsBO.ViewReservationsCafe"
            android:exported="false" />
        <activity
            android:name=".ReservationsBO.ViewReservationsResort"
            android:exported="false" />
        <activity
            android:name=".EstablishmentRulesBO.Resto.AddEstRulesResto"
            android:exported="false" />
        <activity
            android:name=".ReservationsBO.ViewReservationsEyeClinic"
            android:exported="false" />
        <activity
            android:name=".ReservationHistoryBO.ViewReservationHistoryEyeClinic"
            android:exported="false" />
        <activity
            android:name=".CafeBO.MenuCafe"
            android:exported="false" />
        <activity
            android:name=".ReservationHistoryBO.ViewReservationHistoryDentalClinic"
            android:exported="false" />
        <activity
            android:name=".ReservationsBO.LoadReservations"
            android:exported="false" />
        <activity
            android:name=".ReservationHistoryBO.LoadReservationHistory"
            android:exported="false" />
        <activity
            android:name=".ServiceHoursBO.ServiceHours"
            android:exported="false" />
        <activity
            android:name=".ReservationsBO.EmailToCustomer"
            android:exported="false" />
        <activity
            android:name=".DentalClinicBO.Reservations.ReserveConfirmMessageDC"
            android:exported="false" />
        <activity
            android:name=".EmailMessageBO.EmailMessageLayout"
            android:exported="false" />
        <activity
            android:name=".HelpCenterBO.HelpCenter"
            android:exported="false" />
        <activity
            android:name=".CafeBO.SettingUpEstablishmentCafe"
            android:exported="false" />
        <activity
            android:name=".CafeBO.AddPromoAndDealsCafe"
            android:exported="false" />
        <activity
            android:name=".CafeBO.PromoAndDeals.PromoAndDealsCafe"
            android:exported="false" />
        <activity
            android:name=".CafeBO.AddMenuItemCafe"
            android:exported="false" />
        <activity
            android:name=".RestaurantBO.SettingUpEstablishmentRestaurant"
            android:exported="false" />
        <activity
            android:name=".RestaurantBO.AddPromoAndDealsRestaurant"
            android:exported="false" />
        <activity
            android:name=".RestaurantBO.PromoAndDeals.PromoAndDealsRestaurant"
            android:exported="false" />
        <activity
            android:name=".EyeClinicBO.SettingUpEstablishmentEyeClinic"
            android:exported="false" />
        <activity
            android:name=".EyeClinicBO.AddPromoAndDealsEyeClinic"
            android:exported="false" />
        <activity
            android:name=".EyeClinicBO.PromoAndDeals.PromoAndDealsEyeClinic"
            android:exported="false" />
        <activity
            android:name=".ResortBO.SettingUpEstablishmentResort"
            android:exported="false" />
        <activity
            android:name=".ResortBO.AddPromoAndDealsResort"
            android:exported="false" />
        <activity
            android:name=".ResortBO.PromoAndDealsResort"
            android:exported="false" />
        <activity
            android:name=".DentalClinicBO.SettingUpEstablishmentDentalClinic"
            android:exported="false" />
        <activity
            android:name=".DentalClinicBO.AddPromoAndDealsDentalClinic"
            android:exported="false" />
        <activity
            android:name=".DentalClinicBO.PromoAndDeals.PromoAndDealsDentalClinic"
            android:exported="true" />
        <activity
            android:name=".ReservationsBO.ViewReservationsDentalClinic"
            android:exported="false" />
        <activity
            android:name=".EyeClinicBO.AddServiceEyeClinic"
            android:exported="false" />
        <activity
            android:name=".ProfileBO.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".ServicesBO.LoadServices"
            android:exported="false" />
        <activity
            android:name=".ServicesBO.ServicesEyeClinic"
            android:exported="false" />
        <activity
            android:name=".RestaurantBO.MenuRestaurant"
            android:exported="false" />
        <activity
            android:name=".SignUpRequirementBO.PaySubscription"
            android:exported="false" />
        <activity
            android:name=".PremiumAppBO.UpgradeScreen"
            android:exported="false" />
        <activity
            android:name=".PremiumAppBO.GoPremiumWS"
            android:exported="false" />
        <activity
            android:name=".ServicesBO.EditServiceInternetCafe"
            android:exported="false" />
        <activity
            android:name=".ServicesBO.AddServiceInternetCafe"
            android:exported="false" />
        <activity
            android:name=".ServicesBO.AddServiceSpaSalon"
            android:exported="false" />
        <activity
            android:name=".ServicesBO.EditProcedureDC"
            android:exported="false" />
        <activity
            android:name=".ServicesBO.ServicesDentalClinic"
            android:exported="false" />
        <activity
            android:name=".DentalClinicBO.AddServiceDentalClinic"
            android:exported="false" />
        <activity
            android:name=".ServicesBO.EditFoodProdResto"
            android:exported="false" />
        <activity
            android:name=".ServicesBO.EditServiceResto"
            android:exported="false" />
        <activity
            android:name=".RestaurantBO.AddFoodResto"
            android:exported="false" />
        <activity
            android:name=".ServicesBO.AddServiceResto"
            android:exported="false" />
        <activity
            android:name=".ServicesBO.ServicesResort"
            android:exported="false" />
        <activity
            android:name=".ServicesBO.EditServiceResort"
            android:exported="false" />
        <activity
            android:name=".ServicesBO.AddServiceResort"
            android:exported="false" />
        <activity
            android:name=".SignUpRequirementBO.AgreementScreen"
            android:exported="false" />
        <activity
            android:name=".EstablishmentRulesBO.Resto.EstRulesResto"
            android:exported="false" />
        <activity
            android:name=".ProfileBO.Profile"
            android:exported="false" />
        <activity
            android:name=".NavBarBO.BottomNavigationBO"
            android:exported="false" />
        <activity
            android:name=".SignUpRequirementBO.ClassicSubsTerms"
            android:exported="false" />
        <activity
            android:name=".MonthlySubscriptionBO.MonthlySubsTerms"
            android:exported="false" />
        <activity
            android:name=".MonthlySubscriptionBO.PayMonthlySub"
            android:exported="false" />
        <activity
            android:name=".ResortBO.AddFacilityResort"
            android:exported="false" />
        <activity
            android:name=".ResortBO.ResortFacilities"
            android:exported="false" />
        <activity
            android:name=".NotificationAlertsBO.CustomerResched"
            android:exported="false" />
        <activity
            android:name=".NotificationAlertsBO.CustomerCancelled"
            android:exported="false" />
        <activity
            android:name=".ResortBO.AddRoomResort"
            android:exported="false" />
        <activity
            android:name=".SignUpBO"
            android:exported="false" />
        <activity
            android:name=".SignInBO"
            android:exported="false" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>